@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #333;
  color: hsl(200, 100%, 90%);
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
}

.add-todo {
  margin-bottom: 1rem;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.description {
  width: 100%;
  font-size: 13px;
}

.error {
  margin: 0;
  padding: 2px;
  color: red;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.btn {
  background: hsla(142, 100%, 50%, 0.1);
  border: 1px solid hsl(136, 100%, 50%);
  color: hsl(136, 100%, 50%);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: hsla(146, 100%, 50%, 0.2);
}

.btn-danger {
  background: url('../public/images/icons8-delete-30.png') 50% 50%;
  background-size: cover;
  color: white;
  width: 25px;
  height: 25px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-danger:hover,
.btn-danger:focus-visible {
  transition: 0.3s;
  scale: 1.1;
}

.new-item-form input {
  outline: none;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 30%);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: hsl(200, 100%, 90%);
}

.new-item-form input::placeholder {
  color: rgba(255, 255, 255, 0.582);
  font-style: italic;
  font-weight: 300;
}

.new-item-form input:focus {
  border: 1px solid hsl(200, 100%, 70%);
}

.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.list {
  margin: 1rem 0;
  padding: 10px 5px;
  list-style: none;
}

.list li:has(input:checked) label {
  color: hsl(200, 20%, 40%);
}

.list li {
  color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 10px 5px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.list li:has(input:checked) label::before {
  content: "✔";
  color: rgb(0, 255, 0);
  font-size: 1rem;
  font-weight: bold;
}
